<div class="container-fluid basic-info">
  <div class="col-lg-6 col-lg-offset-3 center-content">
    
     <h2>Update Your Password</h2>

     <%= form_for(@user, url: basic_info_path(@user), class: 'form-horizontal form-label-left input_mask') do |f| %>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>s
          <li><%= message %></li>
        <% end %>
      <% end %>
       <div class="row">
         <div class="col-lg-8 form-group">
           <%= f.password_field :current_password, placeholder: 'Your current password', class: 'form-control', autocomplete: 'off' %>
         </div>
       </div>

       <div class="row">
         <div class="col-lg-8 form-group">
           <%= f.password_field :encrypted_password, placeholder: 'New password', class: 'form-control', autocomplete: 'off' %>
         </div>
       </div>

       <div class="row">
         <div class="col-lg-8 form-group">
           <%= f.password_field :password_confirmation, placeholder: 'Repeat new password', class: 'form-control', autocomplete: 'off' %>
         </div>
       </div>

       <div class="ln_solid"></div>

       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-primary' %>
         <%= link_to 'Cancel', root_path, class: 'btn btn-danger' %>
       </div>
     <% end %>
  </div>
</div>
