<div class="section-items col-md-12 col-xs-12 p0" data-section-name="Volunteers">
  <section class="section-items-holder">
     <div class="heading-area">
        <h3>
           <div class="form-group">
              <input
                type="string"
                name="volunteer_header"
                class="form-control primary_font"
                placeholder="VOLUNTEER"
                value="VOLUNTEER"
              />
           </div>
        </h3>
     </div>
     <div class="section-items-list">
        <ul>
          <% @resume.volunteers.each do |volunteer|%>
            <li class="section-item col-xs-12">
              <div class="volunteer-holder">
                 <div class="title-position">
                    <div class="form-group mb-0">
                      <textArea
                        type="string"
                        name="title"
                        class="form-control hide-show-control sub-header"
                        placeholder="Title/Role"
                      ><%= volunteer.title %></textArea>
                    </div>
                 </div>
                 <div class="company">
                    <div class="form-group mb-0">
                      <textArea
                        type="string"
                        name="organization_name"
                        class="form-control sub-color-area"
                        placeholder="Organization Name"
                      ><%= volunteer.organization_name %></textArea>
                    </div>
                 </div>
                 <div style="display: 'inline-flex';"> 
                  <% if volunteer.show_period %> 
                    <div class="column">
                      <i class="fa fa-calendar secondary-color" aria-hidden="true"></i>
                      <span>
                         <div class="form-group mb-0">
                          <textArea
                            type="string"
                            name="duration"
                            class="form-control line-height-26"
                            placeholder="Date period"
                          ><%= volunteer.duration %></textArea>
                         </div>
                      </span>
                    </div>
                  <% end %>
                   <% if volunteer.show_location %> 
                      <div class="column">
                         <i class="fa fa-map-marker secondary-color" aria-hidden="true"></i>
                         <span>
                            <div class="form-group mb-0">
                             <textArea
                               type="string"
                               name="location"
                               class="form-control line-height-26"
                               placeholder="Location"
                             ><%= volunteer.location %></textArea>
                            </div>
                         </span>
                      </div>
                  <% end %>
                </div>
                 <% if volunteer.show_description %> 
                   <div class="column">
                     <div class="form-group mb-0">
                      <textArea
                        type="string"
                        name="description"
                        class="form-control"
                        placeholder="Short summary of your work"
                      ><%= volunteer.description %></textArea>
                     </div>
                   </div>
                 <% end %>
              </div>
            </li>
          <% end %>
        </ul>
     </div>
 </section>
</div>