<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Zenith CV" %> </title>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ['Droid Sans', 'Exo+2', 'Open+Sans', 'Montserrat', 'Roboto', 'Roboto+Condensed', 'Lato', 'Oswald', 'Raleway', 'Slabo+27px']
      },
      timeout: 4000 // Set the timeout to 4 seconds
    });
  </script>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>

  <%= wicked_pdf_stylesheet_link_tag 'pdf' ,media: 'print'%>
</head>

<body>
  <%= yield %>
</body>
</html>
